<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <table class="table table-condensed">
         <thead>
           <tr>
             <th>Id</th>
             <th>Name</th>
             <th>Present ?</th>
           </tr>
         </thead>
         <tbody>
            <tr *ngFor="let user of userList">
              <td>{{ user.Id }}</td>
              <td>{{ user.name }}</td>
              <td><input type="checkbox" #present="ngModel"
                  (change)="onTouched(user)"
                  class="checkbox"
                  name="{{ user }}"
                  [(ngModel)]="user.isPresent"></td>    
            </tr>
         </tbody> 
      </table>
      {{ status }}
    </div>
  </div>
</div>